:host {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../../../../assets/Fond.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.container-51 {
    overflow: scroll;
}

.table-container {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: fit-content;
    max-height: 100%;
    padding: 48px 0;
    min-height: fit-content;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    .table {
        width: fit-content;
        margin: 30px 0;
        overflow: scroll;
        padding: 10px 50px 20px 10px;
        min-height: fit-content;
        align-items: baseline;
        .table-margin {
            padding-right: 17px;
            min-width: fit-content;
            .data-table {
                min-width: 600px;
            }
        }
    }
    .button {
        width: 80%;
        font-size: 1.5em;
        margin: 10px 0;
        max-width: 500px;

        &.scores {
            background-color: #007106;
            color: #ffffff;
        }
    }
}

@media (max-width: 570px) {

    .table-container {
        .button {
            font-size: 1em;
            max-width: 250px;
            &.scores {
                display: none;
            }
        }
    }
}