<div class="login-container">

  <img style="max-width: 80%;" style="max-width: 64%;margin: 17px 0;" src="../../assets/photo-roller.jpg">

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Utilisateur" [(ngModel)]="user" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Mot de passe" [(ngModel)]="pass" [ngModelOptions]="{standalone: true}"
      type="password">
    </mat-form-field>
  </form>

  <button mat-button class="button" (click)="login()">
    Log in
  </button>

</div>