
<div class="back-53">
  <button mat-flat-button class="big" color="primary" routerLink="/portal/admin">
    {{"< Retour"}}
  </button>
  <button mat-flat-button class="small" color="primary" routerLink="/portal/admin">
    {{"<"}}
  </button>
</div>
<div *ngIf="judges$ | async as judges" class="flex-div column full-width full-height">
  <div class="judges-container container-53 scrollbar-53" *ngIf="!loading">
    <h1 class="title-53">Liste des juges</h1>

    <div class="block-53" *ngFor="let judge of judges">
      <!-- <div class="delete" (click)="deleteJudge(judge)" *ngIf="editing">
        <mat-icon>close</mat-icon>
      </div> -->
      <mat-icon class="icon">person</mat-icon>
      <div class="form-container">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Prénom" [(ngModel)]="judge.name" [ngModelOptions]="{standalone: true}"
          [disabled]="true">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Nom" [(ngModel)]="judge.lastName" [ngModelOptions]="{standalone: true}"
          [disabled]="true">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="E-mail" [(ngModel)]="judge.mail" [ngModelOptions]="{standalone: true}" disabled>
        </mat-form-field>
              
        <button mat-flat-button class="button" *ngIf="!addJudge" color="primary" (click)="deleteJudge()">
          Supprimer juge
        </button>
      </div>
      <mat-icon class="icon" (click)="copyLink(judge)" style="cursor: pointer">link</mat-icon>
    </div>
              
    <button mat-flat-button class="button" *ngIf="!addJudge" color="primary" (click)="addJudge = true">
      <mat-icon style="height: 29px; width: 29px;">person_add</mat-icon> Ajouter un juge
    </button>

    <div class="block-53" style="margin-top: 50px !important;" *ngIf="addJudge && !loading">
      <mat-icon class="icon">person_add</mat-icon>
      <div class="form-container">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Prenom" [(ngModel)]="newJudge.name" [ngModelOptions]="{standalone: true}">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Nom" [(ngModel)]="newJudge.lastName" [ngModelOptions]="{standalone: true}">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Mail" [(ngModel)]="newJudge.mail" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </div>
    </div>
              
    <button mat-flat-button class="button" *ngIf="addJudge && !loading" color="primary" (click)="sendJudge()"
      [disabled]="!newJudge.name.length || !newJudge.lastName.length || newJudge.mail.length < 7">
      <mat-icon style="height: 29px; width: 29px;">person_add</mat-icon> Sauvegarder Juge
    </button>

  </div>
</div>

<div class="container-53" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
<div class="footer-image">
    <img src="https://firebasestorage.googleapis.com/v0/b/lyon-roller-open.appspot.com/o/Logo-53.png?alt=media&token=e3ac886f-720d-4183-a9c4-78a60dc3ba64">
</div>