
<div class="back-51">
  <button mat-flat-button class="big" color="primary" routerLink="/portal/admin">
    {{"< Retour"}}
  </button>
  <button mat-flat-button class="small" color="primary" routerLink="/portal/admin">
    {{"<"}}
  </button>
</div>
<div class="judges-container container-51 scrollbar-53" *ngIf="!loading">
  <div class="title-51">Liste de Juges</div>

  <div class="block-51" *ngFor="let judge of judges">
    <!-- <div class="delete" (click)="deleteJudge(judge)" *ngIf="editing">
      <mat-icon>close</mat-icon>
    </div> -->
    <mat-icon class="icon">person</mat-icon>
    <div class="form-container">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Prenom" [(ngModel)]="judge.name" [ngModelOptions]="{standalone: true}"
        [disabled]="!editing">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Nom" [(ngModel)]="judge.lastName" [ngModelOptions]="{standalone: true}"
        [disabled]="!editing">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Mail" [(ngModel)]="judge.mail" [ngModelOptions]="{standalone: true}" disabled>
      </mat-form-field>
    </div>
    <mat-icon class="icon" (click)="copyLink(judge)" style="cursor: pointer">link</mat-icon>
  </div>
            
  <button mat-flat-button class="button" color="primary" *ngIf="!editing && !loadingChanges" (click)="editJudges()">
    Editer Juges
  </button>
            
  <button mat-flat-button class="button" color="primary" *ngIf="editing && !loadingChanges" (click)="saveJudges()">
    Sauvagarder Changements
  </button>
            
  <button mat-flat-button class="button" *ngIf="!addJudge && !loadingChanges" color="primary" (click)="addJudge = true">
    <mat-icon style="height: 29px; width: 29px;">person_add</mat-icon> Ajouter Juge
  </button>

  <div class="block-51" style="margin-top: 50px !important;" *ngIf="addJudge && !loadingChanges">
    <mat-icon class="icon">person_add</mat-icon>
    <div class="form-container">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Prenom" [(ngModel)]="newJudge.name" [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Nom" [(ngModel)]="newJudge.lastName" [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Mail" [(ngModel)]="newJudge.mail" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
    </div>
  </div>
            
  <button mat-flat-button class="button" *ngIf="addJudge && !loadingChanges" color="primary" (click)="sendJudge()"
    [disabled]="!newJudge.name.length || !newJudge.lastName.length || newJudge.mail.length < 7">
    <mat-icon style="height: 29px; width: 29px;">person_add</mat-icon> Sauvegarder Juge
  </button>
  <div class="scrollable" *ngIf="loadingChanges">
    <mat-spinner></mat-spinner>
  </div>
  <div class="footer-image">
      <img src="../../../assets/Logo-53.png">
  </div>

</div>

<div class="container-51" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>