
<div class="back-53">
  <button mat-flat-button class="big" color="primary" routerLink="/portal/admin">
    {{"< Retour"}}
  </button>
  <button mat-flat-button class="small" color="primary" routerLink="/portal/admin">
    {{"<"}}
  </button>
</div>
<div class="container-53 scrollbar-53">
  <div class="grid-53-container flex-div column" *ngIf="categories$ | async as categories">
    <h3 class="title-small" *ngIf="!loading">{{(contest$ | async)?.name}}</h3>
    <h3 class="title-small" *ngIf="!loading && judge$ | async as judge">
      {{(isAdmin | async) ? 'Admin:' : (isJudge | async) ? 'Juge:' : 'Speaker'}} {{judge.name}} {{judge.lastName}}
    </h3>
    <h1 class="title-53" *ngIf="!loading">Liste des catégories</h1>
  
    <ul class="grid-53 flex-div">
      <li class="grid-53-item flex-div column mat-elevation-z3 primary-53" tabindex="0" role="link" (keydown.enter)="goTo(categorie)"
      (mousedown)="mousedown()" (mouseup)="mouseup(categorie, $event)" *ngFor="let categorie of categoriesFinal(categories, false)">
        <div class="delete" *ngIf="deleteCategories[categorie.id] && (isAdmin | async)">
          <mat-icon>close</mat-icon>
        </div>
        <span class="name"> {{categorie.name}} </span>
        <span class="pool"> {{categorie.pools.length}} poules </span>
      </li>
      <li class="grid-53-item flex-div column new primary-53" *ngIf="isAdmin | async" (click)="goToNew()" tabindex="0" role="link"
      (keydown.enter)="goToNew()">
        <span style="font-size: 3em; font-weight: 900; height: 60px;">+</span>
        <span class="pool">Ajouter une catégorie</span>
      </li>
      <div class="scrollable" *ngIf="loading">
        <mat-spinner></mat-spinner>
      </div>
    </ul>
  </div>
  <div class="grid-53-container flex-div column" *ngIf="categories$ | async as categories">
    <h1 class="title-53" *ngIf="!loading && categoriesFinal(categories, true).length">Liste des catégories de finales</h1>
    <ul class="grid-53 flex-div">
      <li class="grid-53-item flex-div column mat-elevation-z3 accent-53" tabindex="0" role="link" (keydown.enter)="goTo(categorie)"
      (mousedown)="mousedown()" (mouseup)="mouseup(categorie, $event)" *ngFor="let categorie of categoriesFinal(categories, true)">
        <div class="delete" *ngIf="deleteCategories[categorie.id] && (isAdmin | async)">
          <mat-icon>close</mat-icon>
        </div>
        <span class="name"> {{categorie.name}} </span>
        <span class="pool"> {{categorie.pools.length}} poules </span>
      </li>
    </ul>
  
    <div class="footer-image">
      <img src="https://firebasestorage.googleapis.com/v0/b/lyon-roller-open.appspot.com/o/Logo-53.png?alt=media&token=e3ac886f-720d-4183-a9c4-78a60dc3ba64">
    </div>
  </div>
</div>