<div class="login-container flex-div column" (keyup.enter)="login()">
  <h1 class="title">Se connecter à la 53</h1>
  <app-auth-form [authFormGroup]="loginForm">
    <button mat-flat-button color="primary" class="button" (click)="login()" *ngIf="!loging">
      Connectez-vous
    </button>
    <div class="error" *ngIf="emailFormat">
      *Email invalid
    </div>
    <div class="error" *ngIf="passwordInvalid">
      *Mot de pass manquant
    </div>
    <a class="link" routerLink="/auth/register" tabindex="0" role="link" *ngIf="!loging">Créer un compte</a>
  </app-auth-form>
  <mat-spinner *ngIf="loging" [diameter]="40"></mat-spinner>
</div>
