<div class="warning-content"
(keyup.enter)="accept()">

  <div class="warning-title" *ngIf="data.message">
    <span class="title-span">
        {{data.message}}
    </span>
  </div>

  <mat-form-field *ngIf="data.input" class="example-full-width">
    <input matInput [placeholder]="data.input" type="number" [min]="1" [(ngModel)]="inputResponse">
  </mat-form-field>

  <div class="buttons">
    <div class="button-cancel" *ngIf="data.cancel">
      <button mat-button (click)="cancel()">Annuler</button>
    </div>
    <div class="button-accept">
      <button mat-button (click)="accept()">Valider</button>
    </div>
  </div>



</div>
