<div class="header-nav-container">

    <div class="title">
        <a class="images" id="start-logo" routerLink="" aria-label="homepage" focus>
            <img [class.show]="!bottomMenu || bottomMenu2" class="big" alt="Logo 53" [class.hide]="bottomMenu && !bottomMenu2"
            src="https://firebasestorage.googleapis.com/v0/b/lyon-roller-open.appspot.com/o/Logo-53.png?alt=media&token=e3ac886f-720d-4183-a9c4-78a60dc3ba64">
        </a>
    </div>

    <!-- <div class="start">
      <span [class.bottom-menu]="bottomMenu" class="button" >La 53 News!</span>
    </div> -->
  
    <a class="start" title="Log in" aria-label="login" routerLink="/auth">
        <span [class.bottom-menu]="bottomMenu" class="button">
        <mat-icon>person</mat-icon>Se connecter</span>
    </a>
</div>