<div class="header-nav-container">

    <div class="title" [routerLink]="['']">
      <div class="images">
        <img [class.show]="bottomMenu2" *ngIf="bottomMenu" class="big" src="../../../assets/Logo-53.png">
        <img *ngIf="!bottomMenu" class="big show" src="../../../assets/Logo-53.png">
      </div>
    </div>

    <!-- <div class="start">
      <span [class.bottom-menu]="bottomMenu" class="button" >La 53 News!</span>
    </div> -->
  
    <div class="start" title="Proposer un projet">
        <span [class.bottom-menu]="bottomMenu" class="button" routerLink="/portal">
        <mat-icon>person</mat-icon>Login</span>
    </div>
  </div>