:host {
    width: 100%;
    top: 0;
    margin-bottom: 20px;
}

.header-nav-container {
    min-height: 70px;
    display: flex;
    align-items: center;
    padding: 0px 30px;
    position: relative;
    height: fit-content;
    font-size: 14px;
    font-weight: bold;

    .start {
        flex: 0 0 auto;
        width: 65px;
        display: flex;
        cursor: pointer;

        .button {
            align-items: center;
            color: #000000;
            display: flex;
            width: 100%;
            border-radius: 31px;
        }
    }

    .title {
        display: flex;
        align-items: center;
        font-weight: 500;
        flex: 1;
        width: 270px;
        left: calc(50% - 250px);
        max-height: 11vh;
        cursor: pointer;
        
        .images {
            height: 90px;
            display: flex;
            max-height: 11vh;
            visibility: hidden;
            img {
                opacity: 0;
                transition: visibility 0s, opacity 0.5s linear;
                &.show {
                    visibility: visible;
                    opacity: 1;
                }
            }
            .big {
                height: 90px;
                max-height: 11vh;
            }
            &:focus {
                outline: none;
            }
        }
    }

    .search-bar {
        flex: 1;
    }

    .user-nav {
        margin: 0 10px;
        height: 60px;
        display: flex;
        flex-direction: row;
        place-content: flex-end;
    }
}