.carrousel-container {
    padding: 20px 5%;
    box-sizing: border-box;
    height: 100%;
    .text {
        flex: 3;
        margin-right: 4%;    
        h1 {
            font-size: 14vmin;
            color: var(--la-53-dark-blue);
            font-weight: lighter;
            letter-spacing: 2px;
            line-height: 14vmin;
            margin: 0;
            min-height: fit-content;
            margin-bottom: 6vmin;
        }
        h2 {
            font-size: 9vmin;
            margin: 0;
            color: var(--la-53-dark-red);
            letter-spacing: 2px;
            line-height: 9vmin;
            min-height: fit-content;
            margin-bottom: 6vmin;
        }
        h3 {
            font-size: 6vmin;
            line-height: 7vmin;
            min-height: fit-content;
            margin: 0;
        }
        @media (max-width: 930px) {
            text-align: center;
        }
    }
    .logo {
        flex: 1;
        img {
            width: 100%;
        }
        @media (max-width: 930px) {
            display: none;
        }
    }
}
