<div class="carrousel-container">
    <ngb-carousel *ngIf="images" style="width: 100%; height: 100%;"
        [interval]="5000">
        <ng-template ngbSlide>
            <img src="../../../assets/55506951_2286218241593624_618556413966286848_n.jpg">
            <div class="carousel-caption">
            <h3>La première version du 53!</h3>
            <p>Lyon Roller Open Mars 2019</p>
            <h3><mat-icon>location_on</mat-icon> Skatepark de Lyon, France</h3>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img src="https://firebasestorage.googleapis.com/v0/b/lyon-roller-open.appspot.com/o/lyon-france-1920x1063.jpg?alt=media&token=16993298-11d5-4838-99a6-eb0169bb90de">
            <div class="carousel-caption">
            <p>Une application cree à Lyon </p>
            <h3>Bienvenue à la 53, le meilleur ami d'un skatepark</h3>
            </div>
        </ng-template>
    </ngb-carousel>
</div>
