<div class="carrousel-container">
    <ngb-carousel *ngIf="images" style="width: 100%; height: 100%;"
        [interval]="3000">
        <ng-template ngbSlide>
            <img src="../../../assets/55506951_2286218241593624_618556413966286848_n.jpg" alt="Random second slide">
            <div class="carousel-caption">
            <h3>La première version du 53!</h3>
            <p>Lyon Roller Open Mars 2019</p>
            <h3><mat-icon>location_on</mat-icon> Skatepark de Lyon, France</h3>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img [src]="images[2]" alt="Random third slide">
            <div class="carousel-caption">
            <h3>Bientôt </h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img [src]="images[3]" alt="Random third slide">
            <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
        </ng-template>
    </ngb-carousel>
</div>
