<div class="carrousel-container full-height full-width">
    <ngb-carousel style="width: 100%; height: 100%;"
        [interval]="5000">
        <ng-template ngbSlide>
            <img async alt="News slide 1"
            src="https://firebasestorage.googleapis.com/v0/b/lyon-roller-open.appspot.com/o/photo-roller-compressed.jpg?alt=media&token=b6b28fcf-4df0-4108-b58d-a8bf10c90462">
            <div class="carousel-caption">
              <h1 class="carousel-title">Bienvenue sur la 53</h1>
              <h3 class="carousel-subtitle">L'application qui va faciliter la coordination de ton contest</h3>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img async alt="News slide 2"
            src="https://firebasestorage.googleapis.com/v0/b/lyon-roller-open.appspot.com/o/lyon-france-1920x1063.jpg?alt=media&token=087939e7-ec34-4a68-9b2d-753922c681db">
            <div class="carousel-caption">
              <h1 class="carousel-title"> Testé et approuvé </h1>
              <h3 class="carousel-subtitle">Lyon Roller Open 2019</h3>
              <h3><mat-icon>location_on</mat-icon> Skatepark de Lyon, France</h3>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img async alt="News slide 3"
            src="https://firebasestorage.googleapis.com/v0/b/lyon-roller-open.appspot.com/o/87045777_610223586492808_2170192961160085504_o.jpg?alt=media&token=ebe3e88b-eb2b-4b14-b3b3-7548e7fe9672">
            <div class="carousel-caption">
              <h1 class="carousel-title"> Prochain contest à utiliser la 53 </h1>
              <h3 class="carousel-subtitle">Lyon Roller Open</h3>
              <h3 class="carousel-subtitle">21-22 Mars 2020</h3>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img async alt="News slide 4"
             src="https://firebasestorage.googleapis.com/v0/b/lyon-roller-open.appspot.com/o/lyon-france-1920x1063.jpg?alt=media&token=087939e7-ec34-4a68-9b2d-753922c681db">
            <div class="carousel-caption">
              <h1 class="carousel-title"> C'est ton tour ! </h1>
              <h3 class="carousel-subtitle">Contacte nous pour être le prochain contest à participer à l'aventure 53</h3>
            </div>
        </ng-template>
    </ngb-carousel>
</div>
