<div class="participants-cont flex-div column full-width mat-elevation-z1"
    [class.error]="playerForm.invalid"
    [formGroup]="playerForm"
    [class.fullwidth]="fullWidth"
>
    <ng-container *ngIf="disabled else form">
        <div class="flex-div vote-mode">
            <mat-icon class="icon">person</mat-icon>
            <div class="info flex-div column">
                <h4>Prenom: {{participant_.name}}</h4>
                <h4>Nom: {{participant_.lastName}}</h4>
                <h4>Ville/Club: {{participant_.club}}</h4>
                <h4 *ngIf="playerForm.get('category')">Category: {{playerForm.value.category}}</h4>
                <h4 *ngIf="isJudge && !publicContest">Licence: {{participant_.licence}}</h4>
            </div>
            <mat-form-field class="vote-input" *ngIf="isJudge && !isAdmin">
                <input matInput placeholder="Note (1-100)" step=".25" min="0" max="100" [(ngModel)]="votesRecord[participant_.id]" 
                [ngModelOptions]="{standalone: true}" (keyup)="valueChange($event, participant_.id)" required>
            </mat-form-field>
            <div class="frame-container" *ngIf="publicContest && safeURL" >
                <iframe [src]='safeURL' frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </ng-container>
    <ng-template #form>
        <mat-form-field class="example-full-width" appearance="outline" *ngIf="playerForm.get('name')">
            <mat-label>Prénom</mat-label>
            <input matInput placeholder="Nom de la catégorie" formControlName="name"
            aria-label="Player name">
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline" *ngIf="playerForm.get('lastName')">
            <mat-label>Nom</mat-label>
            <input matInput formControlName="lastName"
            aria-label="Player last name">
            <mat-icon matSuffix>perm_identity</mat-icon>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline"
            *ngIf="playerForm.get('licence')">
            <mat-label>Licence</mat-label>
            <input matInput formControlName="licence"
            aria-label="Player id or licence">
            <mat-icon matSuffix>payment</mat-icon>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline" *ngIf="playerForm.get('club')">
            <mat-label>Ville/Club</mat-label>
            <input matInput formControlName="club"
            aria-label="Player club or city">
            <mat-icon matSuffix>location_city</mat-icon>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline"
            *ngIf="playerForm.get('videoLink')">
            <mat-label>Video</mat-label>
            <input matInput formControlName="videoLink"
            aria-label="Video link">
            <mat-icon matSuffix>ondemand_video</mat-icon>
        </mat-form-field>
    </ng-template>
    <ng-content select="button"></ng-content>
    <ng-content select="mat-spinner"></ng-content>
</div>
