.participants-cont {
	padding: 10px 0;
	border-radius: 8px;
	background-color: #fbfbfb;
	margin-bottom: 20px;
    margin-top: 10px;
    .mat-form-field {
        width: 90%;
    }
	:not(.fullwidth) {
		.mat-form-field {
			max-width: 460px;
		}
	}
	.frame-container {
        max-height: 320px;
        overflow: scroll;
        iframe {
            height: 500px;
        }
	}
	.vote-mode {
		width: 100%;
		flex-wrap: wrap;
		padding: 0 15px;
		justify-content: center;
		box-sizing: border-box;
		.icon {
			font-size: 40px;
			flex: 0 0 auto;
			width: 40px;
            height: fit-content;
            display: none;
		}
		.info {
			flex: 1;
			margin: 0 10px 10px 10px;
			h4 {
				margin: 2px;
			}
		}
		.vote-input {
			font-size: 20px;
			flex: 0 0 auto;
			width: 70%;
		}
	}
	&.error {
		border: 1px solid #ff7777;
	}
	@media (min-width: 580px) {
        padding: 20px 0;
		margin-top: 0;
	}
}
