<div class="categories">

    <span class="title-51" >Bienvenue au Lyon Roller Open 2019</span>

    
    <span class="title-51" *ngIf="!loading && isJudge">Juge: {{judge.name}} {{judge.lastName}}</span>
    <span class="title-51" *ngIf="!loading && !isJudge">Speaker: {{judge.name}} {{judge.lastName}}</span>

    <span style="font-size: 2em;" *ngIf="!loading2">Liste de Catégories</span>
  
    <div class="grid">
      <div class="categorie mat-elevation-z3" (click)="goTo(categorie)" *ngFor="let categorie of categories">
        <span class="name"> {{categorie.name}} </span>
        <span class="pool"> Poules: {{categorie.pools.length}} </span>
      </div>
      <div class="scrollable" *ngIf="loading">
        <mat-spinner></mat-spinner>
      </div>
    </div>
  
  </div>