<div class="background-cont home flex-div column scrollbar-53">
	<div class="carrousel-cont flex-div full-width" #carrousel>
		<div class="header full-width" #header [class.open]="showSticky" [class.close]="!showSticky">
		
			<app-top-menu [bottomMenu]="bottomMenu" [bottomMenu2]="bottomMenu2"></app-top-menu>
		
		</div>
		<app-carousel></app-carousel>
	</div>
	<app-news></app-news>
	<div class="contacts-cont full-width flex-div column">
		<span class="title">Contact:</span>
		<div class="contacts full-width flex-div column">
			<span><strong>Mail:</strong></span>
			<a>lacinquantetrois@gmail.com</a>
			<span><img src="../../../assets/figures/github-logo.svg"><strong>Github:</strong></span>
			<a target="_blank" href="https://github.com/sebastianfdez">sebastianfdez</a>
			<span><strong>Version:</strong>{{ version }}</span>
		</div>
	</div>
</div>
