:host {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('../../../assets/skatepark-lyon.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.carrousel-cont {
    padding-top: 11vh;
    width: 100%;
    height: fit-content;
    color: #ffffff;
    flex: 0 0 auto;
    font-size: 100px;
    display: flex;
    place-content: center;
    align-items: center;
    position: relative;
	height: 89vh;

    .header {
        width: 100%;
        z-index: 2;
		top: 0;
		position: absolute;

        &.sticky {
			position: fixed;
        }
    }

    &.sticky {
        position: initial;
    }
}

.contacts-cont {
    min-height: 100vh;
    place-content: flex-end;
    width: 100%;
    .title {
        font-size: 50px;
        letter-spacing: 13px;
    }
    .contacts {
        width: 100%;
        background-color: #ffffff9f;
        min-height: 40vh;
        font-size: 28px;
        padding: 5%;
        letter-spacing: 6px;
        box-sizing: border-box;
    }
}

@media (max-width: 930px) {

    .contacts-cont {
        .title {
            letter-spacing: 10px;
        }
        .contacts {
            font-size: 15px;
            letter-spacing: 3px;
        }
    }
}
