:host {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carrousel-cont {
    width: 100%;
    height: fit-content;
    color: #ffffff;
    flex: 0 0 auto;
    font-size: 100px;
    display: flex;
    place-content: center;
    align-items: center;
    position: relative;
	height: 100vh;
	background-color: #000000;

    .header {
        width: 100%;
        z-index: 2;
		top: 0;
		position: absolute;
    
        &.sticky {
            background-color: #ffffff;
			position: fixed;
        }
    }

    &.sticky {
        position: initial;
    }
}

.rest-of-the-app {
	min-height: 200vh;
	background-color: #ffffff;
	width: 100%;
}