<div class="news-container flex-div column">
  <div class="section flex-div">
    <div class="logo">
      <img src="https://firebasestorage.googleapis.com/v0/b/lyon-roller-open.appspot.com/o/Logo-53.png?alt=media&token=0e4c91d7-b332-44b7-af94-9ffc81345ec9">
    </div>
  </div>
  <div class="section flex-div column">
    <div class="block description flex-div column center">
      <span class="title">LA CINQUANTE TROIS</span>
      <span class="descrip">
      La 53 a été créée dans le but de faciliter l'organisation et la coordination des contests, depuis la création des catégories et des poules jusqu'à l'annonce des résultats.
      </span>
    </div>
  </div>
  <div class="section flex-div column">
    <div class="block flex-div column description left" routerLink="organizer">
      <span class="big-letter">O</span>
      <span class="title">Organisateur</span>
      <span class="descrip">Facilite la création des catégories et des poules de manière informatique. Si des modifications sont faites concernant des riders ou les poules, les juges et le speaker en seront automatiquement informés. Plus besoin de courrir à travers tout le skate park pour prévenir d'un changement ! </span>
    </div>
    <div class="block flex-div column description rigth" routerLink="judge">
      <span class="big-letter">J</span>
      <span class="title">Juge</span>
      <span class="descrip"> Envoi des notes rapidement et facilement. En un rien de temps, les moyennes et les classements sont fait. </span>
    </div>
  </div>
  <div class="section flex-div column">
    <div class="block flex-div column description left" routerLink="speaker">
      <span class="big-letter">S</span>
      <span class="title">Speaker</span>
      <span class="descrip">Mise à jour en direct des catégories, des poules et des infos concernants les riders. Tout est centralisé sur la 53 et accessible en seulement quelques clics. </span>
    </div>
    <div class="block flex-div column description rigth" routerLink="volunteer">
      <span class="big-letter">B</span>
      <span class="title">Benevoles</span>
      <span class="descrip">De nouvelles fonctionnalités, pour la gestion des bénévoles seront disponibles très bientôt ... </span>
    </div>
  </div>
</div>
