<div class="news-container">
  <div class="block-51 block">
    <div class="section">
      <img src="../../../assets/Logo-53.png">
    </div>
    <div class="section">
      <div class="text">
        <span>Créez votre propre contest</span>
      </div>
      <div class="image">
        <img src="../../../assets/award.svg">
      </div>
    </div>
    <div class="section">
      <div class="image">
        <img src="../../../assets/excel.svg">
      </div>
      <div class="text">
        <span>Importer et exporter depuis Excel</span>
      </div>
    </div>
    <div class="section">
      <div class="text">
        <span>Constituez les catégories et les poules de manière simple</span>
      </div>
      <div class="image">
        <img src="../../../assets/responsive.svg">
      </div>
    </div>
    <div class="section">
      <div class="image">
        <img src="../../../assets/judge.svg">
      </div>
      <div class="text">
        <span>Facile a géré par juges</span>
      </div>
    </div>
    <div class="section">
      <div class="text">
        <span>Roller friendly. Créé par passioneés au sports du skatepark</span>
      </div>
      <div class="image">
        <img src="../../../assets/roller-skate.svg">
      </div>
    </div>
  </div>
</div>