:host {
    width: 100%;
    background-color: #ffffff7d;
}

.news-container {
    padding: 150px 100px;

    .section {
        height: 100vh;
        place-content: center;
        width: 100%;

        .block {
            background-color: #ffffffc7;
            padding: 40px 0;
            border-radius: 5px;
            margin: 22px 0;
            min-width: 70%;
            min-height: 40%;

            &.left {
                align-self: flex-start;
                align-items: flex-start;
            }

            &.rigth {
                align-self: flex-end;
                align-items: flex-end;
            }
        }
    }
}

.logo {
    max-width: 100%;
    img {
        max-width: 70vw;
    }
}

.description {
    position: relative;
    .title {
        margin: 0 40px 30px 40px;
        font-family: AxeHandel;
        font-size: 40px;
        letter-spacing: 10px;    
        text-align: center;
    }
    .body {
        margin: 0 40px;
        font-size: 20px; 
    }
    .big-letter {
        position: absolute;
        font-size: 55vh;
        line-height: 0.8;
        font-family: applegothic;
        color: #00000045;
    }
}

@media (max-width: 930px) {

    .news-container {
        padding: 150px 40px;    
    }
    .description {
        .title {
            font-size: 25px;
        }
        .body {
            font-size: 15px; 
        }
    }
}