:host {
    width: 100%;
}

.news-container {
    padding: 150px 100px;

    .section {
        height: 100vh;
        place-content: center;
        width: 100%;

        .block {
            background-color: #ffffffc7;
            padding: 40px 0;
            border-radius: 5px;
            margin: 5vh 0;
            min-height: 40vh;
            box-sizing: border-box;
            width: 70vw;
            cursor: pointer;

            &.left {
                align-self: flex-start;
                align-items: flex-start;
                text-align: left;
            }

            &.rigth {
                align-self: flex-end;
                align-items: flex-end;
                text-align: right;
            }

            &.center {
              text-align: center;
            }
        }
    }
}

.logo {
    max-width: 100%;
    img {
        max-width: 70vw;
    }
}

.description {
    position: relative;
    h1, h4 {
        margin: 0 40px 30px 40px;
        text-align: center;
        letter-spacing: 1px;
        overflow: hidden;
    }
    .big-letter {
        position: absolute;
        font-size: 57vh;
        line-height: 0.65;
        font-family: applegothic;
        color: #00000045;
    }
}

@media (max-width: 930px) {
    .news-container {
        padding: 150px 10px;
        .section {
            .block {
                padding: 20px 0;
                width: 78vw;
                &.left, &.rigth, &.center {
                    align-items: center;
                    text-align: center;
                    align-self: center;
                }
            }
            .description {
                h1 {
                    margin: 0 40px 20px 40px;
                    font-size: 1.5rem;
                }
                h4 {
                    margin: 0 10px;
                    font-size: 1.25rem;
                    letter-spacing: 0;
                }
            }
        }
    }
}
