:host {
    width: 100%;
}

.news-container {
    padding: 150px 100px;

    .section {
        height: 100vh;
        place-content: center;
        width: 100%;

        .block {
            background-color: #ffffffc7;
            padding: 40px 0;
            border-radius: 5px;
            margin: 5vh 0;
            min-height: 40vh;
            box-sizing: border-box;
            width: 70vw;
            cursor: pointer;

            &.left {
                align-self: flex-start;
                align-items: flex-start;
                text-align: left;
                &:not(.fadeInLeft) {
                    transform: translateX(-100%);
                }
            }

            &.rigth {
                align-self: flex-end;
                align-items: flex-end;
                text-align: right;
                &:not(.fadeInRight) {
                    transform: translateX(100%);
                }
            }

            &.center {
              text-align: center;
            }
            @media (max-width: 930px) {
                padding: 20px 0;
                width: 78vw;
                &.left, &.rigth, &.center {
                    align-items: center;
                    text-align: center;
                    align-self: center;
                }
            }
            @media (max-width: 400px) {
                padding: 10px 0;
            }
        }
    }
    @media (max-width: 930px) {
        padding: 150px 0;
    }
}

.logo {
    max-width: 100%;
    img {
        max-width: 70vw;
    }
}

.flip-box {
    background-color: transparent;
    width: 100%;
    height: 70vh;
    perspective: 1000px;
  
    &:hover .flip-box-inner {
        transform: rotate3d(1, 1, 0, 360deg);
    }
    .flip-box-inner {
        position: relative;
        width: 100%;
        height: 100%;
        height: 50vh;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    
        .flip-box-front, .flip-box-back {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }
        
        .flip-box-front {
            color: black;
        }
        
        .flip-box-back {
            color: white;
            transform: scaleY(-1) rotate3d(-1, 0, 0, 180deg);
        }
    }
  }

.description {
    position: relative;
    h1, h4 {
        margin: 0 40px 30px 40px;
        text-align: center;
        letter-spacing: 1px;
        overflow: hidden;
    }
    h1 {
        @media (max-width: 930px) {
            margin: 0 40px 20px 40px;
            font-size: 1.5rem;
        }
    }
    h4 {
        @media (max-width: 930px) {
            margin: 0 10px;
            font-size: 1.25rem;
            letter-spacing: 0;
        }
        @media (max-width: 760px) {
            font-size: 1.1rem;
        }
        @media (max-width: 400px) {
            font-size: 0.9rem;
        }
    }
    .big-letter {
        position: absolute;
        font-size: 57vh;
        line-height: 0.65;
        font-family: applegothic;
        color: #00000045;
    }
}
