

.categories {

    .grid {
        margin-top: 20px;
        align-items: center;
        width: fit-content;
        max-width: calc(100% - 40px);
        margin: 20px;
        display: flex;
        flex-wrap: wrap;
        height: fit-content;

        .categorie {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: calc(100% - 20px);
            margin: 10px;
            width: 10em;
            height: 6em;
            border-radius: 20px;
            background-color: #ED2790;
            color: #ffffff;
            display: flex;
            position: relative;
            cursor: pointer;

            .name {
                margin-top: 20%;
                font-weight: bold;
            }

            .pool {
                margin-bottom: 30px;
            }

            .delete {
                position: absolute;
                right: 5px;
                top: 5px;
                z-index: 4;
            }
        }
    }

    .button {
        width: 30%;
        font-size: 1.5em;
        margin: 10px 0;
        min-width: fit-content;
    }
}

@media (max-width: 930px) {

    .grid {
        max-width: 720px !important;
    }
}

@media (max-width: 760px) {

    .categories {

        .grid {
            max-width: 540px !important;
        }

        .titles {
            font-size: 3em;
        }
    }
}

@media (max-width: 580px) {

    .categories {

        .grid {
            max-width: 360px !important;
        }

        .titles {
            font-size: 2em;
        }
    }
}

@media (max-width: 400px) {

    .grid {
        flex-direction: column;
        align-items: center;
        flex-wrap: unset !important;

        .categorie {
            min-height: fit-content;
        }
    }
}