<div class="categorie-container container-53 scrollbar-53">

    <div class="back-53" *ngIf="!loading">
        <button mat-flat-button class="big" color="primary" [routerLink]="(isAdmin || isJudge) ? '/portal/contests' : '/portal/speaker'"
        role="button" aria-label="Go back to contenst menu">
            {{"< Retour"}}
        </button>
        <button mat-flat-button class="small" color="primary" [routerLink]="(isAdmin || isJudge) ? '/portal/contests' : '/portal/speaker'"
        role="button" aria-label="Go back to contenst menu">
            {{"<"}}
        </button>
    </div>
    <div class="scrollable-53" *ngIf="!loading">
        <h1 class="title-53" *ngIf="isJudge && (judgeName !== '')">
            {{isAdmin ? 'Admin:' : isJudge ? 'Juge:' : 'Speaker'}} {{judgeName}}
        </h1>
        <form class="flex-div column full-width" [formGroup]="categorieForm">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Nom de Catégorie</mat-label>
                <input matInput placeholder="Nom de la catégorie" formControlName="name">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>

            <div class="buttons-container flex-div column full-width">
                <button mat-flat-button *ngIf="isAdmin && !loadingSave" color="primary" class="button" (click)="save()"
                    [disabled]="saveDisabled" role="button" aria-label="Save">
                    Sauvegarder la categorie
                </button>
            
                <button mat-flat-button *ngIf="isJudge && !isAdmin && !loadingSave" color="primary" class="button" (click)="saveVotes()"
                role="button" aria-label="Save changes">
                    Sauvegarder les notes
                </button>
            
                <button mat-flat-button
                *ngIf="isAdmin && !createNew && !loadingSave && categorie.pools.length  && categorie.pools[0].participants.length"
                class="button scores primary-53"
                [routerLink]="'/portal/categorie/' + this.categorie.id + '/scores'"
                role="button" aria-label="Go to classification and final creation">
                    Classement
                </button>
            </div>
        
            <div class="button" *ngIf="loadingSave">
                <mat-spinner [diameter]="50"></mat-spinner>
            </div>

            <div class="container-53" formArrayName="pools">
                <div class="pool block-53 mat-elevation-z2 flex-div column"
                *ngFor="let poolForm of pools?.controls; index as i;"
                [class.error]="poolForm.invalid"
                role="link"
                aria-label="Player pool"
                tabindex="0">
                    <app-pool-form
                        class="flex-div column full-width"
                        [formGroupName]="i"
                        [poolForm]="poolForm"
                        (addParticipantOut)="addParticipant(i)"
                        [isJudge]="isJudge"
                        [isAdmin]="isAdmin"
                        [votesRecord]="votesRecord"
                        [publicContest]="true"
                    ></app-pool-form>
                    <div class="empty" *ngIf="poolForm.value.participants.length < 1">
                        <h2>Il n'y a pas encore des riders enregistrés</h2>
                    </div>
                </div>
            </div>

        </form>
    </div>
    
    <div class="scrollable-53" *ngIf="loading">
        <mat-spinner></mat-spinner>
    </div>

    <div class="footer-image">
        <img async src="https://firebasestorage.googleapis.com/v0/b/lyon-roller-open.appspot.com/o/logo-la-53-2020.png?alt=media&token=03806a44-28fc-4b7b-a69c-8755765c087d">
    </div>
</div>
