.login-container {
    place-content: center;
    height: 95%;

    img {
        max-width: 800px;
        width: 60%;
        margin: 17px 0;
    }

    .example-form {
        display: flex;
        flex-direction: column;
        width: 450px;
        max-width: 90%;
    }

    .button {
        width: 300px;
        font-size: 1.5em;
    }
}

@media (max-width: 500px) {
    .login-container {
    
        img {
            width: 100%;
        }
    }
}
