<div class="login-container flex-div column"  (keyup.enter)="login()">

  <img src="../../../../assets/Logo-53.png">

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Utilisateur" [(ngModel)]="user" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Mot de passe" [(ngModel)]="pass" [ngModelOptions]="{standalone: true}"
      type="password">
    </mat-form-field>
  </form>

  <button mat-flat-button color="primary" class="button" (click)="login()">
    Connectez-vous
  </button>

</div>