:host {
    font-size: 1.6em;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    height: fit-content;

    img {
        max-width: 800px;
        width: 60%;
        margin: 17px 0;
    }

    .example-form {
        display: flex;
        flex-direction: column;
        width: 450px;
        max-width: 90%;
    }

    .button {
        width: 300px;
        font-size: 1em;
    }
}

@media (max-width: 500px) {
    .login-container {
    
        img {
            width: 100%;
        }
    }
}
