<div class="container-51 scrollbar-53">

  <div class="back-51" *ngIf="!loading">
    <button mat-flat-button class="big" color="primary" routerLink="/portal/admin">
      {{"< Retour"}}
    </button>
    <button mat-flat-button class="small" color="primary" routerLink="/portal/admin">
      {{"<"}}
    </button>
  </div>

  <div class="scrollable-51">

    <span class="title-51" *ngIf="!loading">{{contest?.name}}</span>
    <span class="title-51" *ngIf="!loading">Speaker</span>
  
    <div class="pool block-51 mat-elevation-z2">
      <mat-icon class="icon" *ngIf="!noSpeaker">person</mat-icon>
      <div class="speaker-cont" *ngIf="addSpeaker && speaker">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Prenom" [(ngModel)]="speaker.name" [ngModelOptions]="{standalone: true}"
          [disabled]="!noSpeaker">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Nom" [(ngModel)]="speaker.lastName" [ngModelOptions]="{standalone: true}"
          [disabled]="!noSpeaker">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Mail" [(ngModel)]="speaker.mail" [ngModelOptions]="{standalone: true}"
          [disabled]="!noSpeaker">
        </mat-form-field>
      </div>
      <mat-icon class="icon" (click)="copyLink()" style="cursor: pointer" *ngIf="!noSpeaker">link</mat-icon>
      <div class="speaker-cont" *ngIf="!addSpeaker || !speaker">
        <span>Aucun speaker ajoutee</span>
      </div>
    </div>
  
    <button mat-flat-button color="primary" class="button save" (click)="saveSpeaker()" *ngIf="noSpeaker && !loadingSave"
      [disabled]="isSaveDisabled()">
      {{!noSpeaker ? 'Sauvegarder speaker' : 'Ajouter Speaker'}}
    </button>
    <div class="button" *ngIf="loadingSave">
      <mat-spinner></mat-spinner>
    </div>

  </div>

  <div class="scrollable-51" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="footer-image">
    <img src="../../../assets/Logo-53.png">
  </div>

</div>