<div class="container-log container-51 scrollbar-53" *ngIf="emailSent && user">
    <span>Vous avez entré sans mot de passe</span>
    
    <button mat-flat-button color="primary" class="button"
        (click)="goToHome()">
        Aller sur l'application
    </button>
    <img src="../../../assets/link-success.svg">
</div>

<div class="container-log container-51 scrollbar-53" *ngIf="emailSent && user === null && errorMessage">
    <span>Le lien a pas marché. Veuillez vous réessayer</span>
    <img src="../../../assets/broken-link.svg">
</div>

<div class="container-log container-51 scrollbar-53" *ngIf="emailSent && user === null && !errorMessage">
    <span>Lien envoyé!</span>
    <img src="../../../assets/link-success.svg">
</div>

<div class="container-log container-51 scrollbar-53" *ngIf="!emailSent">
    <span>Clicker ici pour envoyer un lien de confirmation à {{emailUrl}}</span>
    <button mat-flat-button color="primary" class="button" 
        [disabled]="emailSent" 
        (click)="sendEmailLink(email)">
        Envoyer Lien
    </button>
    <img src="../../../assets/link-success.svg">
</div>