<div class="container-log container-53 scrollbar-53" *ngIf="emailSent && user">
    <span>Vous êtes entré sans mot de passe</span>
    
    <button mat-flat-button color="primary" class="button"
        (click)="goToHome()">
        Aller sur l'application
    </button>
    <img src="../../../assets/figures/link-success.svg">
</div>

<div class="container-log container-53 scrollbar-53" *ngIf="emailSent && user === null && errorMessage">
    <span>Le lien a pas marché. Veuillez vous réessayer</span>
    <img src="../../../assets/figures/broken-link.svg">
</div>

<div class="container-log container-53 scrollbar-53" *ngIf="emailSent && user === null && !errorMessage">
    <span>Lien envoyé!</span>
    <img src="../../../assets/figures/link-success.svg">
</div>

<div class="container-log container-53 scrollbar-53" *ngIf="!emailSent">
    <span>Vous avez été invité à participer à un contest avec l'application La 53!</span>
    <span>Veuillez confirmer votre e-mail {{emailUrl}}</span>
    <button mat-flat-button color="primary" class="button" 
        [disabled]="emailSent" 
        (click)="sendEmailLink(email)">
        Confirmer
    </button>
    <img src="../../../assets/figures/link-success.svg">
</div>