<div class="back-53" *ngIf="!loading">
    <button mat-flat-button class="big" color="primary" routerLink="/portal/portal">
        {{"< Retour"}}
    </button>
    <button mat-flat-button class="small" color="primary" routerLink="/portal/portal">
        {{"<"}}
    </button>
</div>

<div class="categories container-53 scrollbar-53">
    <h3 class="title-53" *ngIf="!loading">{{contest?.name}}</h3>
    <h3 class="title-53" *ngIf="!loading">
        {{isAdmin ? 'Admin' : isJudge ? 'Juge' : 'Speaker'}}: {{(admin$ | async)?.name}} {{(admin$ | async)?.lastName}}
    </h3>

    <button mat-flat-button color="primary" class="button" style="margin-top: 20px;" (click)="goToJudges()"
    *ngIf="!loading && isAdmin">
        Juges
    </button>
    <button mat-flat-button color="primary" class="button" style="margin-top: 20px;" routerLink="/portal/sponsors"
    *ngIf="!loading && isAdmin">
        Speaker & Sponsors
    </button>
    <button mat-flat-button color="primary" class="button" style="margin-top: 20px;" (click)="goToContest()"
    *ngIf="!loading">
        Riders
    </button>
    <button mat-flat-button color="primary" class="button" style="margin-top: 20px;"
    *ngIf="!loading && isAdmin" disabled>
        Bénevoles (Bientôt)
    </button>
    <div class="scrollable" *ngIf="loading">
        <mat-spinner></mat-spinner>
    </div>
    <div class="footer-image">
        <img src="https://firebasestorage.googleapis.com/v0/b/lyon-roller-open.appspot.com/o/Logo-53.png?alt=media&token=e3ac886f-720d-4183-a9c4-78a60dc3ba64">
    </div>

</div>
  