@import "./assets/styles/mat-override.scss";
@import "./assets/styles/form-page.scss";
@import "./assets/styles/contests.scss";
@import "./assets/styles/public-components.scss";
@import "./assets/styles/la53-grid.scss";
@import "./assets/styles/judge-speaker.scss";
@import "./assets/styles/la53-colors.scss";

.html {
    height: 100%;
}

body {
    height: 100vh;
    display: flex;
    margin: 0;
    font-family: Dosis, "Helvetica Neue", Arial, sans-serif;
    background-size: cover;
    place-content: center;
}

*[role="link"], *[role="button"] {
    color: var(--la-53-dark-blue);
    cursor: pointer;
    &:focus {
        outline: 1px solid var(--la-53-dark-blue);
        outline-offset: 3px;
    }
}

.background-cont {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
}

.title-53 {
    width: 90%;
    text-align: center;
    min-width: fit-content;
    &:last-of-type {
        margin-bottom: 20px;
    }
}

.flex-div {
    display: flex;
    align-items: center;
    &.column {
        flex-direction: column;
    }
}
.full-height {
    height: 100%;
}
.full-width {
    width: 100%;
}

.scrollable-53 {
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 48px 1%;
    box-sizing: border-box;
    min-height: fit-content;
	@media (min-width: 580px) {
        min-width: fit-content;
        width: 90%;
        padding: 48px 5%;
	}
}

.container-53 {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: scroll;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    max-height: 100%;
    &.public {
        padding: 0;
        img {
            max-width: 95%;
        }
    }
}

.block-53 {
    width: 90%;
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 32px;
    margin: 10px 0;
    position: relative;
    &:not(.public) {
        background-color: #f1f1f1;
        max-width: 800px;
    }
    &.public {
        max-width: 1100px;
        width: 97%;
        padding: 1%;
        @media (min-width: 580px) {
            background-color: #f1f1f1;
            width: 90%;
        }
    }
}

.back-53 {
    position: absolute;
    left: 30px;
    top: 50px;
    z-index: 3;

    &.logout {
        right: 30px;
        left: initial;
    }

    &.user {
        left: 30px;
        right: initial;
        mat-icon {
            font-size: 50px;
            width: 50px;
            height: 50px;
        }
    }

    button {
        min-width: fit-content;
        width: 120px;

        &.small {
            display: none;
        }
    }
}

// Scroll bar
.scrollbar-53 {
    scrollbar-width: thin;
}
.scrollbar-53::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.scrollbar-53::-webkit-scrollbar-track {
    display: none;
}

.scrollbar-53::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(201, 201, 201, 0.7);
}

.scrollbar-53::-webkit-scrollbar-corner {
    display: none;
}

.footer-image {
    display: flex;
    place-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    flex: 0 0 auto;
    width: 80%;
    max-width: 300px;
    img {
        max-width: 300px;
        width: 100%;
        margin: 17px 0;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}

@media screen and (max-width: 970px) {
    .container-53 {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .back-53 {
        top: 30px;
        button {
            width: 90px;
        }
    }
}

@media (max-width: 580px) {
    .title-53 {
        font-size: 1.5rem;
        margin: 5px 0;
    }
    .back-53 {
        top: 15px;
        button {
            width: 90px;
            font-size: 1rem;
        }
    }
    .container-53 {
        overflow: scroll;
        padding-top: 80px;
        padding-bottom: 80px;
        margin: 0;
    }
}

@media (max-width: 490px) {
    .back-53 {
        button {
            width: 45px;
            &.small {
                display: inherit;
            }
            &.big {
                display: none;
            }
        }
    }
}
