/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./assets/styles/mat-override.scss";
@import "./assets/styles/carrousel-override.scss";
@import "./assets/styles/login-page.scss";
@import "./assets/styles/contests.scss";
@import "./assets/styles/la53-grid.scss";

.html {
    height: 100%;
}

body {
    height: 100vh;
    display: flex;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
    background-size: cover;
    place-content: center;
}

*[role="link"] {
    color: blue;
    cursor: pointer;
    &:focus {
        outline: 1px solid rgb(36, 69, 255);
    }
}

.background-cont {
    height: 100vh;
    overflow: scroll;
    background-color: #ffffff66;
    width: 100%;
}

.title-53 {
    width: 90%;
    text-align: center;
    min-width: fit-content;
    &:last-of-type {
        margin-bottom: 20px;
    }
}

.flex-div {
    display: flex;
    align-items: center;
    &.column {
        flex-direction: column;
    }
}
.full-height {
    height: 100%;
}
.full-width {
    width: 100%;
}

.scrollable-53 {
    align-items: center;
    width: 90%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 48px 15px;
    min-width: fit-content;
    box-sizing: border-box;
    min-height: fit-content;
}

.container-53 {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: scroll;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.block-53 {
    width: 90%;
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #f1f1f1;
    border-radius: 32px;
    margin: 10px 0;
    max-width: 800px;
    position: relative;
}

.back-53 {
    position: absolute;
    left: 30px;
    top: 50px;
    z-index: 3;

    &.logout {
        right: 30px;
        left: initial;
    }

    button {
        min-width: fit-content;
        width: 120px;

        &.small {
            display: none;
        }
    }
}

// Scroll bar
.scrollbar-53 {
    scrollbar-width: thin;
}
.scrollbar-53::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.scrollbar-53::-webkit-scrollbar-track {
    display: none;
}

.scrollbar-53::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(201, 201, 201, 0.7);
}

.scrollbar-53::-webkit-scrollbar-corner {
    display: none;
}

.footer-image {
    display: flex;
    place-content: center;
    height: 150px;
    bottom: 0;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    flex: 0 0 auto;

    img {
        height: 100%;
    }
}

@media (max-width: 970px) {

    .back-53 {
        top: 30px;

        button {
            width: 90px;
        }
    }
}

@media (max-width: 580px) {

    .title-53 {
        font-size: 1.5rem;
        margin: 5px 0;
    }

    .back-53 {
        top: 10px;

        button {
            width: 90px;
        }
    }
    .container-53 {
        overflow: scroll;
    }
}

@media (max-width: 490px) {

    .back-53 {
        top: 10px;

        button {
            width: 45px;

            &.small {
                display: inherit;
            }

            &.big {
                display: none;
            }
        }
    }
}
