.carousel-inner {
    height: 100%;

    .carousel-item {
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: opacity(0.5);
        }
        .carousel-caption {
            font-family: Roboto, "Helvetica Neue", Arial, sans-serif;;
            height: fit-content;
            top: 0;
            bottom: 0;
            margin-top: auto;
            margin-bottom: auto;
            .carousel-title {
              font-size: 65px;
              font-weight: bold;
            }
            .carousel-subtitle {
              font-size: 40px;
              font-family: Roboto, "Helvetica Neue", Arial, sans-serif;;

            }
        }
    }
}

.carousel-indicators {
    li {
        width: 16px;
        height: 16px;
        border-radius: 8px;
    }
}

.carousel-control-prev {
    &:focus {
        outline: auto;
    }
}

@media (max-width: 760px) {

    .carousel-inner {
        .carousel-item {
            .carousel-caption {
                .carousel-title {
                    font-size: 25px;
                }
                .carousel-subtitle {
                    font-size: 20px;
                }
            }
        }
    }
}