app-judges, app-speaker {
    flex-direction: column;
    justify-content: center;
    
    .judges-container {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        height: initial;
    }
    
    .container-53 {
        height: initial;
    }
    
    .block-53 {
        margin-top: 35px;
        padding: 50px;
        justify-content: center;
        .icon {
            font-size: 50px;
            height: 50px;
            width: 50px;
            margin: 0 20px;
            margin-bottom: 40px;
        }
        .form-container {
            flex: 1;
            .example-full-width {
                width: 90%;
            }
        }
        .delete {
            position: absolute;
            right: 15px;
            top: 15px;
            z-index: 4;
            .mat-icon {
                height: 30px;
                width: 30px;
                font-size: 27px;
            }
        }
        h1 {
            padding: 40px;
        }
    }
    
    .scrollable {
        align-items: center;
        width: 90%;
        display: flex;
        flex-direction: column;
        height: fit-content;
        padding: 30px 15px;
        min-width: fit-content;
    }
    
    .button {
        width: 60%;
        font-size: 1.5em;
        margin: 10px 0;
        min-width: fit-content;
        max-width: 300px;
    }
}
