.grid-53 {
    margin-top: 20px;
    width: fit-content;
    justify-content: center;
    max-width: calc(100% - 40px);
    margin: 20px;
    flex-wrap: wrap;
    padding: 0;
    .grid-53-item {
        width: calc(100% - 20px);
        margin: 10px;
        width: 10rem;
        height: 6rem;
        border-radius: 20px;
        color: #ffffff;
        position: relative;
        cursor: pointer;
        .name {
            margin-top: 12%;
            font-weight: bold;
            font-size: 1.2rem;
        }
        .pool {
            text-align: center;
        }
        .add {
            margin-bottom: 0;
            font-size: 2rem;
        }
        .delete {
            position: absolute;
            right: 5px;
            top: 5px;
            z-index: 4;
        }
    }
    
    @media (max-width: 400px) {
        flex-direction: column;
        align-items: center;
        flex-wrap: unset !important;
        .grid-53-item {
            min-height: fit-content;
        }
    }
}

.grid-53-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    min-height: fit-content;
    overflow: hidden;
    max-height: 100%;

    h1, h3 {
        margin: 0;
        text-align: center;
        &:last-of-type {
            margin-bottom: 30px;
        }
    }
    @media (max-width: 640px) {
        h1 {
            font-size: 1.75rem;
        }
    }
}
