// Style for the snackbar showing an error
.error-snackbar {
    background: #ff0000 !important;
    color: #FFFFFF !important;
}
.message-snackbar {
    .mat-simple-snackbar-action {
        color: #FFFFFF !important;
    }
}

.table td, .table th {
    padding: .75rem !important;
}

mat-form-field.mat-form-field-appearance-outline {
    .mat-form-field-flex > .mat-form-field-outline {
        background-color: #FFFFFF;
        border-radius: 8px;
    }
    .mat-form-field-flex > .mat-form-field-infix > .mat-form-field-label-wrapper > .mat-form-field-label {
        font-weight: bolder;
        color: #000000;
    }
    .mat-form-field-flex > .mat-form-field-prefix {
        margin-right: 10px;
    }
}

@media (max-width: 970px) {

    .mat-table {
        font-size: 1em;
        .mat-sort-header-container {
            justify-content: center;
        }
        .mat-header-cell {  
            text-align: center
        }
        .mat-cell {
            text-align: center;
            vertical-align: middle;
        }
    }
}