:host {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../../../../assets/Fond.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.categorie-container {

    overflow: scroll;

    .mat-form-field {
        width: 90%;
        max-width: 460px;
    }

    .example-form {
        width: 100%;
        display: flex;
        place-content: center;
    }

    .pool {
        flex-direction: column;
        max-width: 630px;    

        .poule {
            margin: 15px 0;
        }

        .add-pool {
            background-color: transparent;
            color: black;
        }

        .participants {
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;

            .delete {
                width: 40%;
                min-width: fit-content;
            }

            .participants-cont {
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 100%;
                padding: 20px 0;
                border-radius: 8px;
                background-color: #fbfbfb;
                margin-bottom: 20px;

                .vote-mode {
                    display: flex;
                    width: 100%;
                    flex-wrap: wrap;
                    padding: 0 15px;

                    .icon {
                        font-size: 40px;
                        flex: 0 0 auto;
                        width: 40px;
                    }

                    .info {
                        display: flex;
                        flex-direction: column;
                        flex: 1;
                        margin: 0 10px;
                    }

                    .vote-input {
                        font-size: 20px;
                        flex: 0 0 auto;
                        width: 100%;
                    }
                }
            }

            .button {
                font-size: 1em;
            }
        }
    }

    .button {
        width: 80%;
        font-size: 1.5em;
        max-width: 400px;
        align-items: center;
        place-content: center;
        display: flex;
        margin-bottom: 10px;
        &:last-of-type {
            margin-bottom: 30px;
        }
        &:first-of-type {
            margin-top: 30px;
        }
        &.scores {
            background-color: #007106;
            color: #ffffff;
        }
    }
}

@media (max-width: 800px) {

    .categorie-container {

        .button {
            &.excel {
                display: none;
            }
            &.scores {
                margin-top: 0;
            }
            &.save {
                margin-top: 0;
            }
        }
    }
}

@media (max-width: 570px) {

    .categorie-container {
        .pool {
            .participants {
                .participants-cont {
                    margin-top: 10px;
                }
            }
        }

        .button {
            font-size: 1em;
            padding: 0 1px;
        }
    }
}

@media (max-width: 270px) {
    .pool {
        .participants {
            .icon {
                display: none;
            }
        }
    }
}