:host {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../../../../assets/Fond.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.categorie-container {

    .mat-form-field {
        width: 90%;
        max-width: 800px;
    }

    .example-form {
        width: 100%;
        display: flex;
        place-content: center;
    }

    .pool {
        flex-direction: column;

        .poule {
            margin: 15px 0;
        }

        .add-pool {
            background-color: transparent;
            color: black;
        }

        .participants {
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;

            .delete {
                width: 40%;
                min-width: fit-content;
            }

            .participants-cont {
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 100%;

                .vote-mode {
                    display: flex;
                    width: 100%;
                    flex-wrap: wrap;
                    margin: 10px 0px;

                    .icon {
                        font-size: 40px;
                        flex: 0 0 auto;
                        width: 40px;
                    }

                    .info {
                        display: flex;
                        flex-direction: column;
                        flex: 1;
                        margin: 0 10px;
                    }

                    .vote-input {
                        margin: 10px 0 20px 0;
                        font-size: 25px;
                        flex: 0 0 auto;
                        width: 100%;
                    }
                }
            }

            .button {
                font-size: 1em;
            }
        }
    }

    .button {
        width: 80%;
        font-size: 1.5em;
        margin: 10px 0;
        max-width: 500px;

        &.save {
            margin-top: 30px;
        }

        &.scores {
            background-color: #007106;
            margin-top: 30px;
            color: #ffffff;
        }
    }
}

@media (max-width: 570px) {

    .categorie-container {
        width: 95%;
    }
}

@media (max-width: 270px) {
    .pool {

        .participants {

            .icon {
                display: none;
            }
        }
    }
}