.categorie-container {
    overflow: scroll;
    .mat-form-field {
        width: 90%;
        max-width: 460px;
    }
    .pool {
        max-width: 90%;
        color: #000000;
        .poule {
            margin: 15px 0;
        }
        .add-pool {
            background-color: transparent;
            color: black;
        }
        .participants {
            .delete {
                width: 40%;
                min-width: fit-content;
            }
            .button {
                font-size: 1rem;
            }
        }
        &.error {
            border: 1px solid #ff7777;
        }

        @media (max-width: 570px) {
            width: 75%;
        }
    }
    .button {
        width: 80%;
        font-size: 1.5rem;
        max-width: 400px;
        align-items: center;
        place-content: center;
        display: flex;
        margin-bottom: 10px;
        &:last-of-type {
            margin-bottom: 30px;
        }
        &:first-of-type {
            margin-top: 30px;
        }
        &.scores {
            background-color: #007106;
            color: #ffffff;
        }
    }
}

@media (max-width: 800px) {
    .categorie-container {
        .button {
            &.excel {
                display: none;
            }
            &.scores {
                margin-top: 0;
            }
            &.save {
                margin-top: 0;
            }
        }
    }
}

@media (max-width: 570px) {
    .categorie-container {
        .button {
            font-size: 1rem;
            padding: 0 1px;
        }
    }
}
