<div class="categorie-container container-53 scrollbar-53">

    <div class="back-53" *ngIf="!loading">
        <button mat-flat-button class="big" color="primary" [routerLink]="(isAdmin || isJudge) ? '/portal/contests' : '/portal/speaker'">
            {{"< Retour"}}
        </button>
        <button mat-flat-button class="small" color="primary" [routerLink]="(isAdmin || isJudge) ? '/portal/contests' : '/portal/speaker'">
            {{"<"}}
        </button>
    </div>
    <div class="scrollable-53" *ngIf="!loading">
        <h1 class="title-53" *ngIf="isJudge && (judgeName !== '')">
            {{isAdmin ? 'Admin:' : isJudge ? 'Juge:' : 'Speaker'}} {{judgeName}}
        </h1>
        <form class="flex-div column full-width" [formGroup]="categorieForm">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Nom de la catégorie" formControlName="name">
            </mat-form-field>
            <button mat-flat-button *ngIf="isAdmin && !loadingSave" color="primary" class="button" (click)="save()"
            [disabled]="saveDisabled">
                Sauvegarder la categorie
            </button>
        
            <button mat-flat-button *ngIf="isJudge && !isAdmin && !loadingSave" color="primary" class="button" (click)="saveVotes()">
                Sauvegarder les notes
            </button>
        
            <button mat-flat-button *ngIf="isAdmin && !createNew && !loadingSave" color="#007106" class="button scores" (click)="goToScores()">
                Classement et finale
            </button>
        
            <button mat-flat-button *ngIf="isAdmin && !categorie.final && !loadingSave" color="primary" class="button excel" (click)="openUploeader()">
                Importer depuis excel
            </button>

            <kendo-upload
                #UploadComponent
                [autoUpload]="false"
                [restrictions]="myRestrictions"
                (select)="fileSelected($event)"
                (upload)="uploadFile($event)"
                *ngIf="showUploader">
            </kendo-upload>
        
            <div class="button" *ngIf="loadingSave">
                <mat-spinner [diameter]="50"></mat-spinner>
            </div>

            <div class="container-53" formArrayName="pools">
                <div class="pool block-53 mat-elevation-z2 flex-div column" *ngFor="let poolForm of pools?.controls; index as i;"
                [class.error]="poolForm.invalid">
                    <h2 class="poule">Poule {{i + 1}}</h2>
                    <app-pool-form
                        class="flex-div column full-width"
                        [formGroupName]="i"
                        [poolForm]="poolForm"
                        (deletePoolOut)="deletePool(i)"
                        (addParticipantOut)="addParticipant(i)"
                        [isJudge]="isJudge" [isSpeaker]="isSpeaker"
                        [votesRecord]="votesRecord"
                    ></app-pool-form>
                </div>
          
                <div class="pool block-53 mat-elevation-z2 flex-div column" *ngIf="isAdmin">
                    <button mat-flat-button class="button add-pool" style="margin-top: 20px;" (click)="addPoolForm()">
                        + Ajouter une poule
                    </button>
                </div>
            </div>

        </form>
    </div>
    
    <div class="scrollable-53" *ngIf="loading">
        <mat-spinner></mat-spinner>
    </div>

    <div class="footer-image">
        <img async src="https://firebasestorage.googleapis.com/v0/b/lyon-roller-open.appspot.com/o/Logo-53.png?alt=media&token=e3ac886f-720d-4183-a9c4-78a60dc3ba64">
    </div>
</div>
